*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    
}

body{
    background-color: #0198f6;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    position: relative;
    min-width:200px;
    min-height: 400px;
    max-width: 800px;
    max-height: 900px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(54, 54, 54);
    display: grid;
    margin: 0 30px 0 30px;
    
}

.quote-container {
    min-width:200px;
    min-height: 400px;
    max-width: 800px;
    max-height: 900px;
    background-color: white;
    justify-content:space-between;
    display: grid;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    margin: 0 30px 0 30px;
}

.container button {
    min-width:100px;
    min-height: 50px;
    background-color: #1d72fc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    
}


 
.quote-container i {
    
    font-size: 9vw;
    color: rgb(34, 34, 34);
    position: relative;
}

.quote-container .quote {
    font-size: 5vmin;
    color: rgb(34, 34, 34);
    padding: 0 30px 0 30px;
    position: relative;
    font-family: 'Dancing Script', cursive;

} 

.quote-container .author {
    font-size: 5vmin;
    position: relative;
    bottom: 30px;
    text-align: right;
    font-family:cursive;
    top: 10px;
}

